<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Turtle Shelter Project</title>
    
    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar bg-teal">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Turtle Shelter Project</a>
            <ul class="nav-items">
                <li class="nav-item"><a href="/jensstory" class="nav-link">Jen's Story</a></li>
                <li class="nav-item"><a href="thank-you-to-our-sponsors" class="nav-link">Thank You to Our Sponsors</a></li>
                <li class="dropdown nav-item">
                    <a href="/about" class="dropdown-btn nav-link">About</a>
                    <ul class="dropdown-menu">
                        <li><a href="/homeless">Homelessness and Hypothermia</a></li>
                        <li><a href="/about">Our Tech</a></li>
                    </ul>
                    </li>
                <li class="dropdown nav-item">
                    <a href="/howucanhelp" class="dropdown-btn nav-link">How You Can Help</a>
                    <ul class="dropdown-menu">
                        <li><a href="/howucanhelp">You Can Make a Difference</a></li>
                        <li><a href="/donateMain">Donate</a></li>
                        <li><a href="/event-request">Schedule Your Own Event</a></li>
                        <li><a href="/become-sponsor">Become a Partner or Sponsor</a></li>
                        <li><a href="/volunteer-main">Become a Volunteer</a></li>
                    </ul>
                    </li>
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                </ul>
            </div>
    </nav>

    <!-- Main Content Section -->
    <div class="container mt-5">
        <div class="row">

            <!-- Right Content Area -->
            <div class="col-md-9">
                <h1>Our Vests</h1>
                <p>
                    Foam clothing technology was invented by outdoor survival expert Jim Phillips. He has done extensive testing using <b>open-cell polyurethane foam as the insulation layer</b> in jackets, hoods, pants, boots, gloves, and sleeping bags.
                </p>
                <p>
                    Jim Phillips' foam clothing is brilliant technology because of what it can do to help save a person's life in freezing temperatures. The insulation layer foam clothing provides is so effective that even if a person gets wet it will keep them warm <b>-- BUT, wearing synthetic fabrics is an important layer to include with the foam clothing.</b> Foam clothing can be effective while wearing cotton if the wearer stays dry, but if the wearer gets wet, the cotton will absorb and hold water and keep the wearer cold.  <b>If a person is not wearing any cotton</b> with the foam clothing, and they happen to get wet, they will still be able to maintain their core body temperature.  The reason why this works is because the shell and lining fabrics and the foam are all synthetic and breathable - providing moisture wicking properties and allowing perspiration and other moisture to evaporate.
                </p>
                <p>
                    <b>Foam clothing dramatically reduces moisture as being a threat to a person's life in the cold!</b>
                </p>
                <p>
                    Foam clothing is marketed to emergency preparedness and extreme sports audiences because of its ability to keep you warm in winter conditions.  Being cold is one thing, but being cold and wet is miserable. Being cold, wet, and without shelter can be life threatening.
                </p>
                <p>
                    This technology is usually sold in emergency preparedness venues and super expensive. It does make sense because the technology is super valuable that the clothing should cost a lot, but we disagree:  nobody likes to be cold and people function a lot better when they are not freezing to death!  So we created a foam vest that covers the core and we called the Turtle Shelter because it acts like a shelter and harnesses the wearer's body heat even <b>while wet and even in freezing temperatures. </b>
                </p>
                <p>
                    <b>Jen's perspective:  Every life has value!</b><br>
"Hearing about this technology in an emergency Preparedness venue provoked a lot of thought about how many homeless peoples lives could not only be saved but also improved by this technology? Emergency preparedness is all about people getting prepared for when disaster strikes...and it seems like to get prepared can be pretty pricey...but isn't a person who is homeless living in their emergency right this very moment? They are not waiting for disaster to strike because for them it already has and I know from experience that once the disaster of homelessness strikes it can be extremely hard to recover from it. For many it is far more than simply losing a home or a place to stay...for me and many others it was also about losing my confidence, my energy, my drive, and even my hope...I felt completely broken and defeated!
                </p>
                <p>
                    I remember how every simple task felt like an overwhelming obstacle but even more so when it was so cold I couldn't even think. Everything just felt harder when it was cold and wet and miserable...
I believe that this foam clothing can help relieve some of the suffering for anyone who is homeless and living in the cold...I believe it doesn't have to cost a lot to make these. Not for the homeless and not for our families...lives can be saved from this technology."
                </p>
            </div>
        </div>
    </div>

      <!-- Lern how you can help button-->
      <div class="clickable-text-container">
        <a href="/howucanhelp" class="clickable-text">Learn How You Can Help</a>
    </div>
    

    <!-- Separate Section for Image -->
<div class="image-section mt-5">
    <img src="/images/homelessfriends.jpg" alt="Individuals in the Turtle Shelter Vest" class="full-screen-image">
</div>


    <!-- Footer -->
    <footer class="footer bg-dark text-white py-4">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Footer Info Section -->
                <div class="col-md-3 footer-info">
                    <p>&copy; Turtle Shelter Project</p>
                    <p>PO Box 382, Kaysville, UT 84037</p>
                </div>
                
                <!-- Footer Contact Section -->
                <div class="col-md-3 footer-contact">
                    <p><a href="tel:8018723190" class="footer-phone text-white">Call us: (801) 872-3190</a></p>
                    <p><a href="mailto:turtleshelterproject@gmail.com" class="footer-phone text-white">Email: turtleshelterproject@gmail.com</a></p>
                </div>
    
                <!-- Social Media Section -->
                <div class="col-md-3 footer-social text-center">
                    <a href="https://www.facebook.com/turtleshelterproject" target="_blank" class="social-icon">
                        <img src="/images/facebook.png" alt="Facebook Icon" class="social-img">
                    </a>
                    <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-icon">
                        <img src="/images/instagram.png" alt="Instagram Icon" class="social-img">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
